body{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

shadow{
    text-shadow: 4px 4px;
}

h1{
    font-family:'Madimi One', sans-serif;
}

h2{
    font-family:'Madimi One', sans-serif;
}

h3{
    font-family:'Madimi One', sans-serif;
}

.navbar{
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 2px solid var(--main-grey);
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
    font-family:'Madimi One', sans-serif;
}

.nav-link{
    color: var(--main-blue) !important;
    font-family:'Madimi One', sans-serif;
}

.nav-link:hover{
    color: var(--main-grey) !important;
    border-bottom: 2px solid var(--main-grey);
    font-family:'Madimi One', sans-serif;
}

.nav-link.active{
    color: var(--main-blue) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--main-blue);
    font-family:'Madimi One', sans-serif;
}

.dropdown-menu{
    background-color: var(--main-grey);
}

.dropdown-item{
    color: var(--white);
}

.dropdown-item:hover{
    background-color: var(--main-blue);
    color: var(--white)
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  .img-fluid {
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  

.hero{
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero2{
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.heroSection{
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.heroSectionimages {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Vertically center the images */
    max-width: 100%; /* Ensure the container does not exceed the width of its parent */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.heroSectionimages img {
    max-width: 100%; /* Limit the maximum width of the images to their container */
    height: auto; /* Maintain the aspect ratio of the images */
}



.heroImg{
    width: 100%;
    padding: 44px 50px;
    padding-top: 70px;
}

.heroImg3{
    width: 100%;
    padding-left: 140px;
    padding-top: 30px;
}

.flex{
    display: flex;
    justify-content: center;
}

.heroImg4{
    width: 90%;
}

.heroImg2{
    width: 50%;
    padding: 55px 65px;
    padding-top: 95px;
}

.background.change-color {
    background-color: white;
}

.glass{
    width: 50%;
    float: left;
}

@media (max-width: 1200px) {
    .heroImg{
        padding: 20px;
        padding-top: 80px;
    }
}
@media (max-width: 992px) {
    .hero{
        padding: 12px;
        padding-top: 80px;
    }
}

.img-background{
    background-color: var(--main-blue);
}

/*space*/

.space-top{
    padding-bottom: 70px;
}

.space-top2{
    padding-bottom: 40px;
}

.space-bottom{
    padding-top: 90px;
}

.space-bottom2{
    padding-top: 50px;
}

.space-bottom3{
    padding-top: 20px;
}

.space-head{
    padding-top: 20px;
    padding-bottom: 20px;
}

.space-p{
    padding-bottom: 44px;
}

.create-space-top{
    padding-top: 180px;
}

.padding-left{
    padding-left: 40px;
}
.sectionTitle{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.footer{
    background: var(--white);
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}

/* md screen */
@media (max-width: 991.98px) {
    .footer{
        padding: 30px 90px;
    }
}

/* sm screen */
@media (max-width: 767.98px) {
    .footer{
        padding: 30px 40px;
    }
}

/* xs sm screen */
@media (max-width: 575.98px) {
    .footer{
        padding: 30px 20px;
    }
}

.footer p,.footer a,.footer h5{
    margin: 6px auto;
}

.icon{
    font-size: 20px;
    color: var(--Gray-dark);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .card:hover .btn {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
  }
  
.btn-primary{
    background-color: black;
    font-family: 'Madimi One', sans-serif;
    /* border-color: var(--white); */
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background-color: var(--main-grey);
    border-color: var(--main-grey);
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.25rem #ac95cc80;
}

/*Card Section*/
.wholecard{
    padding-bottom: 50px;
}

.card-bottom{
    padding-bottom: 75px;
}

.card{
    max-width: 98%;
    max-height: 98%;
    margin: 10px 0px;
}

.card2-title{
    padding-top: 40px;
    padding-bottom: 10px;
}

.card3-title{
    padding-top: 1px;
}

.card1-img{
    max-width: 95%;
    max-height: 95%;
    padding-top: 30px;
    padding-bottom: 0px;
}


.card2-img{
    max-width: 95%;
    max-height: 95%;
    padding-top: 76px;
    padding-bottom: 85px;
}

.card3-img-top{
    max-width: 90%;
    max-height: 90%;
    padding-top: 54px;
    padding-bottom: 35px;
}

.card3-title{
    padding-bottom: 14px;
}

.card-title,.card2-title,.card3-title{
    font-family:'Open Sans',sans-serif;
}

.card-text{
    font-family: var(--font-family-normal);
    font-size: var(--font-size-small);
}

.paddingrightc2{
    padding-right: 20px;
}

.paddingrightc1{
    padding-right: 20px;
}

/*END CARD-SECTION*/

.p-text{
    font-family:'Madimi One', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6rem;
}

/*Fonts*/

.font-cryllic {
    font-family: 'IBM Plex Sans Thai Looped';
    font-style: bold;
    font-weight: 550;
    font-size: 20px;
}

.Raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
  }

.font-gotham{
    font-family: "Raleway", Sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
}

.arrow{
    font-size: 60px;
    color: var(--white);
    padding-bottom: 15px;
}

.arrow:hover {
    color: var(--main-blue);
}

/*Header Section*/

.header1{
    display: block;
    font-family: 'Madimi One', sans-serif;
    font-size: 40px;
    padding-top: 32px;
    
}

.subheader{
    display: block;
    font-family: 'Madimi One', sans-serif;
    font-size: 20px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.header2{
    display: block;
    font-family: 'Madimi One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-blue);
}

.sectionTitle{
    display: center;
    font-family: 'Madimi One', sans-serif;
    font-size: 28px;
    color: var(--main-blue);
    padding-top: 35px;
}

.sectionTitle2{
    display: center;
    font-family: 'Madimi One', sans-serif;
    font-size: 28px;
    color: var(--white);
    padding-bottom: 10px;
}

/* End Header Section*/
.carousel{
    position: relative;
}

.carousel__item{
    height: 300px;
    background: grey;
    padding: 1em;
    font-family: "cronos-pro", Sans-serif;
    font-size: 2em;
    color: white;
    display: none;
}

.carousel__item--selected{
    display: block;
}

.carousel__nav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: grey;
}

.carousel__button{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.carousel__button--selected{
    background: rgb(255, 255, 255, 0.5);
}

.footer-text{
    color: var(--main-blue);
    font-family: "cronos-pro", sans-serif;
    font-style: bold;
    font-weight: 550;
    font-size: 13px;
}

.em-word{
    font-family: 'Madimi One', sans-serif;
    font-size:40px;
    color: var(--main-blue);
}

.imgCardDims{
  
    object-fit: cover;
}