body{
    color: var(--Black);
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link{
    color: var(--main-blue) !important;
}

.nav-link:hover{
    color: var(--main-grey) !important;
    border-bottom: 2px solid var(--main-grey);
}

.nav-link.active{
    color: var(--main-blue) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--main-blue);
}

.dropdown-menu{
    background-color: var(--main-grey);
}

.dropdown-item{
    color: var(--white);
}

.dropdown-item:hover{
    background-color: var(--main-blue);
    color: var(--white)
}

.hero{
    min-height: 70vh;
    background: var(--Primary-gradient);
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.heroSection{
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.heroImg{
    width: 100%;
    padding: 34px 40px;
    padding-top: 90px;
}

.glass{
    width: 50%;
    float: left;
}

@media (max-width: 1200px) {
    .heroImg{
        padding: 20px;
        padding-top: 80px;
    }
}
@media (max-width: 992px) {
    .hero{
        padding: 12px;
        padding-top: 80px;
    }
}

.img-resize{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.img-resize2{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.img-background{
    background-color: var(--main-blue);
}

.space-top{
    padding-bottom: 90px;
}

.space-bottom{
    padding-top: 90px;
}

.space-head{
    padding-bottom: 20px;
}

.space-p{
    padding-bottom: 35px;
}

.sectionTitle{
    text-align: center;
    margin-bottom: 20px;
}

.card{
    margin: 10px 0px;
}

.card2-title{
    padding-top: 99px;
}

.footer{
    background: var(--Primary-gradient-rev);
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}

/* md screen */
@media (max-width: 991.98px) {
    .footer{
        padding: 30px 90px;
    }
}

/* sm screen */
@media (max-width: 767.98px) {
    .footer{
        padding: 30px 40px;
    }
}

/* xs sm screen */
@media (max-width: 575.98px) {
    .footer{
        padding: 30px 20px;
    }
}

.footer p,.footer a,.footer h5{
    margin: 6px auto;
}

.icon{
    font-size: 20px;
    color: var(--Gray-dark);
}

.btn-primary{
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background-color: var(--main-grey);
    border-color: var(--main-grey);
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.25rem #ac95cc80;
}

.card2-img-top{
    padding-bottom: 14px;
}

.card3-img-top{
    padding-bottom: 175px;
}

.card3-title{
    padding-bottom: 30px;
}

.card-title,.card2-title,.card3-title{
    font-family:'Open Sans',sans-serif;
}

.card-text{
    font-family: var(--font-family-normal);
    font-size: var(--font-size-small);
}

.p-text{
    font-family: var(--font-family-Monaco);
    font-size: 20px;
    font-weight: 300;
}

.font-cryllic {
    font-family: 'IBM Plex Sans Thai Looped';
    font-style: bold;
    font-weight: 550;
    font-size: 20px;
}


.font-gotham{
    font-family: "cronos-pro", Sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.7em;
}

.arrow{
    font-size: 75px;
    color: var(--main-blue);
}

.header1{
    display: block;
    font-family: "cronos-pro", sans-serif;
    font-size: 32px;
    color: var(--main-blue);
    
}

.header2{
    display: block;
    font-family: "cronos-pro", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-blue);
}

.carousel{
    position: relative;
}

.carousel__item{
    height: 300px;
    background: grey;
    padding: 1em;
    font-family: "cronos-pro", Sans-serif;
    font-size: 2em;
    color: white;
    display: none;
}

.carousel__item--selected{
    display: block;
}

.carousel__nav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
}

.carousel__button--selected{
    background: rgb(255, 255, 255, 0.5);
}
